[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tomas/Desktop/proyects]
row=2
col=11

[/home/tomas/Desktop/work]
row=0
col=11

[/home/tomas/Desktop/learn]
row=1
col=11

[Trash]
row=6
col=11

[/]
row=0
col=0

[/home/tomas]
row=1
col=0

